.portrait-title h2 {
  word-wrap: normal;
  word-break: normal;
}

.home-section.wg-slider {
  padding: 0;
  animation: none;
  animation-delay: unset;
}

.carousel-inner .wg-hero {
  animation: none;
  clear: none;
}

// .powered-by {
//   display: none;
// }

.site-footer > p:nth-child(2) {
  display: none;
}

.test-image {
  border-radius: 50%;
  max-width: 20%;
  display: inline-block;
  margin-bottom: 15px;
}

.test-text {
  display: inline-block;
}